.App {
  font-family: sans-serif;
  text-align: center;
}

/* .mybtn {
  border: 4px solid black;
  color: yellow;
} */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
}

.icon {
  font-size: 40px;
}
